extends layout

block title
  h1 Trumplines

block canvas
  script(type='text/javascript' src='js/sketch.js')

block footer
  a(href='http://developer.nytimes.com/')
    img(src='img/poweredby_nytimes_200a.png')