doctype html
html(lang='en')
  head
    title='Trumplines'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no')
    script(src='js/p5.min.js')
    script(src='js/p5.sound.min.js')
    script(src='js/jquery-3.1.0.min.js')
    script(src='js/p5.dom.js')
    script(src='js/document.js')
    link(rel='stylesheet', href='css/main.css')
  body
    .header
      block title
    .canvas
      block canvas
    .footer
      block footer