doctype html
html(lang='en')
  head
    title='Trumplines'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no')
    script(src='js/p5.min.js')
    script(src='js/jquery-3.1.0.min.js')
    script(src='js/p5.dom.js')
    script(src='js/ScrollMagic.min.js')
    script(src='js/document.js')
    link(rel='stylesheet', href='css/main.css')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='img/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='img/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='img/favicon/manifest.json')
    link(rel='mask-icon', href='img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='img/favicon/favicon.ico')
    meta(name='apple-mobile-web-app-title', content='Trumplines')
    meta(name='application-name', content='Trumplines')
    meta(name='msapplication-config', content='img/favicon/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    meta(property='fb:app_id', content='1567480740226971')
    meta(property='og:image', content='http://trumplines.herokuapp.com/trumpface.png')
    meta(property='og:description', content='Explore the public image of Trump through New York Times headlines.')
    meta(property='og:url', content='https://trumplines.herokuapp.com')
    meta(property='og:title', content='Wanna know why Trump will win?')
  body
    //- audio(autoplay='')
    //-   source(src='/trump.mp3')
    .header
      block title
    .canvas
      block canvas
    .footer
      block footer